.codeContainer {
	max-width: 80rem;
	width: 55rem;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 10px;
	overflow: auto;
	resize: horizontal;
}

.editor {
	height: 33rem;
}

.editorTopBar {
	padding: 8px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 10;
	display: block;
	background-color: black;
}
