.dropdownOption{
    color: black;
    background-color: transparent;
    border: solid 1px black;
    height: 38px;
}
.sectionIcon{
    width: 50px;
    background-color: black;
    line-height: 38px;
}