@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #D1D1D1;
  font-family: "Inria Sans";
  color: rgb(255, 255, 255);
  text-align: center;
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

[contenteditable] {
  outline: 0px solid transparent;
}