.centerImg{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  height: Calc(100vh);
}

.uploadToggleContainer {
  background-color: #5F6A63;
  border-radius: 0px 5px 5px 0px;
}

.uploadCanvas {
  border-radius: 5px 0px 0px 5px;
}

.uploadLabel{
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.uploadDefaultInput{
  display: none;
}

.photoUploader{
  display: block;
  margin: 0 auto;
}

.photoUploader img{
  max-width: 732px;
  max-height: 651px;
}