.container {
  height: Calc(100vh - 64px);
}

.uploadToggleContainer {
  background-color: rgba(23, 28, 35, 0.559);
  margin: 100px;
}

.uploadCanvas {
  background-color: rgba(1, 1, 1, 0.559);
  margin: 100px 0px 100px 100px;
}
